<TEI>
  <text>
    <body>
      <div xml:id="Ms_germ_fol_841" next="#Ms_germ_fol_842">
        <div type="session" n="1">
          <p><pb facs="#f0011" n="7."/>
erblicken wir einen großen Unter&#x017F;chied zwi<lb/>&#x017F;chen den entferntern u. nähern Planeten<lb/><note place="left"><hi rendition="#u">Zwei be&#x017F;ondere Planeten-Sy&#x017F;teme</hi><lb/></note>von der Son&#x0303;e. <hi rendition="#u">Dies giebt zwei be&#x017F;ondre<lb/> Sÿ&#x017F;teme</hi>. Die Scheide machen die kleinern<lb/> Körper die &#x017F;ich zwi&#x017F;chen Mars u. Jupiter<lb/> bewegen, die ein ganz eignes Sy&#x017F;tem<lb/> bilden, von denen die Ve&#x017F;ta als die<lb/><hi rendition="#u" hand="#pencil">größte</hi> <choice><sic>ungefahr</sic><corr resp="#CT">ungefähr</corr></choice> die <choice><abbr>Oberfl.</abbr><expan resp="#CT">Oberfläche</expan></choice> von Deut&#x017F;ch<lb/>land hat. Sie haben eine translative Be<lb/>wegung von We&#x017F;ten nach O&#x017F;ten, &#x017F;ind ihrer<lb/> Stellung nach ähnlich den <choice><sic>Com&#x0303;eten</sic><corr resp="#BF">Cometen</corr></choice>; obgleich<lb/> doch keine A<subst><del rendition="#ow"><gap reason="illegible" unit="chars" quantity="1"/></del><add place="across">e</add></subst>hnlichkeit anderweit zwi&#x017F;chen<lb/> ihnen u. den <choice><abbr><choice><sic>Com&#x0303;et&#xFFFC;</sic><corr resp="#BF">Comet&#xFFFC;</corr></choice></abbr><expan resp="#BF"><choice><sic>Com&#x0303;eten</sic><corr resp="#BF">Cometen</corr></choice></expan></choice> i&#x017F;t, wie überhaupt<lb/> kein Uebergang zwi&#x017F;chen Planeten u. Co<lb/>meten gefunden wird u. keine po&#x017F;itive<lb/><note place="left"><hi rendition="#u">Er&#x017F;tes Sy&#x017F;tem<lb/> characteri&#x017F;t. Merkmale</hi><lb/></note>Aehnlichkeit. <hi rendition="#u">Jn die&#x017F;em doppelten Sy&#x017F;tem<lb/> der Planeten gehören zu&#x017F;am&#x0303;en: Merkur,<lb/> Venus, Erde, Mars.</hi> Sie haben das<lb/> gemein&#x017F;ame der be&#x017F;ondern Dichtigkeit,<lb/> wie <hi rendition="#aq">Platina</hi>, Magnet&#x017F;tein u. dgl.; &#x017F;ie<lb/><subst><del rendition="#s">rotiren</del><add place="superlinear">bewegen &#x017F;ich</add></subst> viel ge&#x017F;chwinder <add place="superlinear"><metamark/>um die Son&#x0303;e</add>, &#x017F;ind mond<lb/>armer |: bloß die Erde hat einen <choice><abbr>Trabant&#xFFFC;</abbr><expan resp="#BF">Trabanten</expan></choice> :|,<lb/> an den Polen abgeplattet. Anders<lb/> verhält es &#x017F;ich mit den Planeten auf der<lb/> Bahn jen&#x017F;eits der kleinen Planeten.</p><lb/>
        </div>
      </div>
    </body>
  </text>
</TEI>

